/* CSS files add styling rules to your content */
body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background: url(https://cdn.glitch.com/227b0f22-05ca-464c-b4b6-7fdd81215db5%2FWeb_project_gb.png?v=1614204790700) no-repeat;
  /*   background-width: 1000px;
  background-height:800ox; */
}

h1 {
  font-style: italic;
  color: #373fff;
}

a {}
